/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #B0E0E6; /* Azul bebê claro */
    padding: 20px;
    color: #2c2c2c; /* Cinza escuro */
}

.back-button {
    position: absolute;
    /* top: 20px; */
    right: 10px;
}

.back-button a {
    color: black;
    font-size: 1rem;
    text-decoration: none !important;
}

.account-container {
    max-width: 1200px; 
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.profile-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o texto em telas pequenas */
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #87cefa; /* Azul bebê */
}
.profile-info {
    flex: 2;
}

h5 {
    font-weight: bold;
    color: #2c2c2c;
}

p {
    margin: 0;
    color: #555;
}

/* Botões */
.btn-custom {
    margin-top: 10px;
}
.btn-primary {
    background-color: #87cefa;
    border-color: #87cefa;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #6db1e0;
    border-color: #6db1e0;
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: #2c2c2c; /* Cinza escuro */
    border-color: #2c2c2c;
}

.btn-secondary:hover {
    background-color: #464646;
    border-color: #464646;
}
.btn-link a {
    text-decoration: none;
    color: #87cefa;
}
.btn-link a:hover {
    text-decoration: underline;
    color: #6db1e0;
}

/* Abas */
.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 15px;
}

.tab {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    color: #555;
    transition: background-color 0.3s ease;
}

.tab.active {
    border-bottom: 3px solid #87cefa; /* Azul bebê */
    color: #87cefa;
    font-weight: bold;
}

.tab:hover {
    background-color: #f0f8ff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Lista de doações */
.list-group-item {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.list-group-item:hover {
    background-color: #f7faff;
}

.button-group .btn {
    min-width: 120px;
    margin-left: 5px;
}

/* Botão Voltar */
.btn-link {
    color: black; /* Cor do texto */
    text-decoration: #6db1e0; 
}

.btn-link:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}