.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/images/imagem-campanha-saude.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    color: white;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.button-doar {
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-doar:hover {
    background-color: #218838;
    color: white;
    text-decoration: none;
}

.section-info {
    margin-top: 30px;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 10px;
}

.back-button a {
    color: black;
    font-size: 1rem;
    text-decoration: none !important;
}