/* Estilo para o banner principal */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/banner-test.jpg');
    /* substitua com uma imagem apropriada */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 400px 0;
}

.features h2, .campanhas-destaque h2, #faq-section h2, .clean-testimonials h2 {
    color: #212529;
    font-weight: 700;
}

.navbar-brand img {
    height: 60px;
    /* Ajuste o tamanho conforme necessário */
    width: auto;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffc107;
}

.banner p {
    font-size: 24px;
}

/* Estilos para seções */
.campanhas-destaque h2 {
    margin-bottom: 40px;
}

/* Estilo para o botão primário */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-light:hover {
    color: #28a745;
    border-color: #28a745;
}

/* Estilos para os cards de campanha */
.card img {
    height: 200px;
    object-fit: cover;
}

/* Footer */
.text-white h4 {
    color: #ffc107 !important;
}

.feature-box {
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.feature-box i {
    /* font-size: 2rem; */
    color: #5fb6ce;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons a {
    font-size: 1.5rem;
}

input[type="email"] {
    border-radius: 0.25rem;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}


.campaigns {
    padding: 40px 0;
    text-align: center;
}

.glider-contain {
    position: relative;
}

.glider-prev,
.glider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.glider-prev {
    left: 0;
}

.glider-next {
    right: 0;
}

.campaign {
    min-width: 300px;
    padding: 20px;
    background-color: #eceaea;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    transition: transform 0.3s ease;
    text-align: center;
}

.campaign-image {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    border-radius: 5px;
    margin-bottom: 15px;
}

#faq-section {
    background: #f8f9fa;
    padding: 3rem 0;
}

/* #faq-section h2 {
    color: #202020;
    font-weight: 700;
} */

.accordion-button {
    font-weight: 500;
    color: #333;
}

.accordion-button:focus {
    box-shadow: none;
}

.campanhas-destaque .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
}

.campanhas-destaque .btn:hover {
    opacity: 1;
}

.campanhas-destaque .btn:active {
    transform: translateY(1px);
}

.campanhas-destaque .btn-primary {
    background-color: #055ada !important;
    color: #fff;
    outline: none !important;
}



/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    .navbar-brand img {
        height: 40px;
        /* Tamanho menor para telas pequenas */
    }
}